{% extends '_base.html' %}

{% block page_title %}
All services
{% endblock page_title %}

{% block content %}


<section id="pricing" class="white">r
    <div class="container" style="background-color: black;" >
        <div     class="center gap fade-down section-heading">
            <h2 class="main-title" style="color: white;">So, How Much?</h2>
            <hr>
            <p>Of an or game gate west face shed. ﻿no great but music too old found arose.</p>
        </div>
        <div class="gap"></div>
        <div id="pricing-table" class="row">
                 {% for service in services %}
            <div class="col-md-3 col-xs-6 flip-in">
                <ul class="plan plan1" style="background-color: red;" >
                    <li class="plan-name">
                        <h3>{{service.title}}</h3>
                    </li>
                    <li class="plan-price">
                        <div>
                            <span class="price"><sup>£</sup>{{service.price}}</span>
                            <small>month</small>
                        </div>
                    </li>
                    <li>
                        <strong>5GB</strong> Storage
                    </li>
                    <li>
                        <strong>1GB</strong> RAM
                    </li>
                    <li>
                        <strong>400GB</strong> Bandwidth
                    </li>
                    <li>
                        <strong>10</strong> Email Address
                    </li>
                    <li>
                        <strong>Forum</strong> Support
                    </li>
                    <li class="plan-action">
                        <a href="#" class="btn btn-outlined btn-primary btn-md btn-white">book now</a>
                    </li>
                </ul>
            </div><!--/.col-md-3-->
          {% endfor %}
        </div>
        <div class="gap"></div>
    </div>
</section>  

  
{% endblock content%}
